
.header {
    background-color: rgb(30, 30, 31);
    color: white;
    font-size: 30px;
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 80px;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(228, 230, 139);
}



#nav {
    display: inline;
    display: flex;
    padding-right: 20px;
    font-size: 20;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

li {
    margin-right: 5pc;
    text-align: right;
}

h1 {
    margin-right: 20px;
    padding-left: 5pc;
    font-family: 'Times New Roman', Times, serif;
    padding: 300px;
}

.products-container {
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 40px;
    max-width: 85%;
    margin: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 10px;
    

}

.products-container img {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;

}

button {

    color: white;
    background-color: rgb(19, 177, 19);
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border: none;

}

.products-container p {
    color: rgb(162, 197, 122);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    
}

h2 {
    text-align: center;
    font-size: 40pc;
    display: inline;
    font-size: 20px;
    justify-content: center;
    font-size: 22px;
    margin: 15px 0 10px;

}



card-container section {

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    border: 1px solid rgb(30, 30, 31);
    margin: 40px;
    
}

card-container section:hover {
    transform: translateY(-5px);
    box-shadow: 2px 8px 20px rgba(0,0,0,0.2);
}


#footer {
    background-color: rgb(30, 30, 31);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    margin: 0px;

    
}

.product {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 6px 6px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    border: 1px solid rgb(248, 248, 252);
    margin: 40px;
}